/* Botanica COLORES */

.colors-botanica header {
    border-bottom: 4px solid #8B4513;
}
.bodyFix.colors-botanica {
    background: #77A874;
}
.colors-botanica .encabezado.titulo {
    background: #90EE90;
}
.colors-botanica .trabajo-anual,
.colors-botanica .tutorial,
.colors-botanica .contrato {
    background: #8FBC8F;
}
.colors-botanica .tema {
    font-weight: 900;
    color: black;
    background-color: #D4E6D0;
}
.colors-botanica .footer {
    border-top: 4px solid #8B4513;
}
        /*navbar*/
.colors-botanica .nav-item .active {
    border-bottom: 2px solid #D4E6D0;
}
.colors-botanica .nav-item::after {
    background-color: #F9E79F;
}
        /*main*/

.colors-botanica .aside,
.colors-botanica .acordeones,
.colors-botanica .acordeones h2,
.colors-botanica .unidad {
    border: 2px solid black;
    color: black;
}
.colors-botanica .aside,
.colors-botanica .acordeones,
.colors-botanica .preview {
    background-color: #D4E6D0;
}
.colors-botanica .unidad {
    background-color: #D4E6D0;
}
.colors-botanica .descarga {
    color: black;
    background-color: #90EE90;
    border: 2px solid black;
}


/* Biología I COLORES */

.colors-biologia1 header {
    border-bottom: 4px solid #2C7BBF;
}
.bodyFix.colors-biologia1 {
    background: #F2E2CE;
}
.colors-biologia1 .encabezado.titulo {
    background: #69BFBF;
}
.colors-biologia1 .trabajo-anual,
.colors-biologia1 .tutorial,
.colors-biologia1 .contrato {
    background: #69BFBF;
    color: black;
}
.colors-biologia1 .tema {
    font-weight: 900;
    color: black;
    background: #69BFBF;
}
.colors-biologia1 .footer {
    border-top: 4px solid #2C7BBF;
}
        /*navbar*/
.colors-biologia1 .nav-item .active {
    border-bottom: 2px solid #2C7BBF;
}
.colors-biologia1 .nav-item::after {
    background-color: #89B3D9;
}
        /*main*/

.colors-biologia1 .aside,
.colors-biologia1 .acordeones,
.colors-biologia1 .acordeones h2,
.colors-biologia1 .unidad {
    border: 2px solid black;
    color: black;
}
.colors-biologia1 .aside,
.colors-biologia1 .acordeones,
.colors-biologia1 .preview {
    background-color: #4184BF;
}
.colors-biologia1 .unidad {
    background-color: #89B3D9;
}
.colors-biologia1 .descarga {
    color: black;
    background-color: #89B3D9;
    border: 2px solid black;
}


/* Biología II COLORES */

.colors-biologia2 header {
    border-bottom: 4px solid #8C0303;
}
.bodyFix.colors-biologia2 {
    background: #F2E3B3;
}
.colors-biologia2 .encabezado.titulo {
    background: #BF8756;
}
.colors-biologia2 .trabajo-anual,
.colors-biologia2 .tutorial,
.colors-biologia2 .contrato {
    background: #F2C288;
    color: black;
}
.colors-biologia2 .tema {
    font-weight: 900;
    color: black;
    background: #F2EEB3;
}
.colors-biologia2 .footer {
    border-top: 4px solid #8C0303;
}
        /*navbar*/
.colors-biologia2 .nav-item .active {
    border-bottom: 2px solid #8C0303;
}
.colors-biologia2 .nav-item::after {
    background-color: #BF0A0A;
}
        /*main*/

.colors-biologia2 .acordeones h2 {
    border: 2px solid black;
}
.colors-biologia2 .aside,
.colors-biologia2 .acordeones,
.colors-biologia2 .unidad {
    border: 2px solid #8C0303;
    color: black;
}
.colors-biologia2 .aside,
.colors-biologia2 .acordeones,
.colors-biologia2 .preview {
    background-color: #F2C288;
}
.colors-biologia2 .unidad {
    background-color: #F2D6B3;
}
.colors-biologia2 .descarga {
    color: black;
    background-color: #F2C288;
    border: 2px solid #8C0303;
}


/* Taller COLORES */

.colors-taller header {
    border-bottom: 4px solid #A62103;
}
.bodyFix.colors-taller {
    background: #F29F05;
}
.colors-taller .encabezado.titulo {
    background: #F2B705;
}
.colors-taller .trabajo-anual,
.colors-taller .tutorial,
.colors-taller .contrato {
    background: #F27405;
    color: black;
}
.colors-taller .tema {
    font-weight: 900;
    color: black;
    background: #F29F05;
}
.colors-taller .footer {
    border-top: 4px solid #A62103;
}
        /*navbar*/
.colors-taller .nav-item .active {
    border-bottom: 2px solid #A62103;
}
.colors-taller .nav-item::after {
    background-color: #D93D04;
}
        /*main*/

.colors-taller .unidad,
.colors-taller .acordeones h2 {
    border: 2px solid black;
    color: black;
}
.colors-taller .aside,
.colors-taller .acordeones {
    border: 2px solid black;
}
.colors-taller .aside,
.colors-taller .acordeones,
.colors-taller .preview {
    background-color: #F27D16;
}
.colors-taller .unidad {
    background-color: #F28705;
}
.colors-taller .descarga {
    color: black;
    background-color: #D93D04;
    border: 2px solid black;
}