@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap'); /*Poppins Google Font*/

/* - General - */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    /* border: 1px solid red; */
}
.bodyFix {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #D3F03B;
}
.footer {
    margin-top: 20px;
    border-top: 4px solid #F0970A;
    padding: 20px 0;
}
.footer h4 {
    font-size: 2em;
    font-weight: bold;
    color: black;
}
.footer h5 {
    margin-top: 25px;
    font-size: 1.2em;
    font-weight: 400;
    color: black;
}
.footer a {
    padding: 2px 0;
    font-weight: 300;
    color: rgb(82, 82, 82);
    text-decoration: none;
}
.footer a:last-of-type {
    margin-top: 20px;
    color: rgb(120,120,120);
}
#wsp-msj {
    padding: 10px;
    font-size: 2em;
    cursor: pointer;
}
#wsp-msj:hover {
    color: rgb(120,120,120);
}

/* - Barra de Navegación - */
.navbar {
    width: 98vw;
    background: none;
    margin-bottom: 20px;
}
.navbar-fondo {
    background: none;
}
.navbar-brand {
    padding: 20px;
}
.navbar-brand img{
    width: 100px;
    background: none;
    filter: drop-shadow(-5px 10px 10px rgba(0,0,0,0.5));
}
.nav-item {
    font-size: 2rem;
    margin: 0 20px;
    padding: 5px;
}
.nav-item .active {
    margin-bottom: -2px;
    border-bottom: 2px solid #F0970A;
}
.nav-item::after {
    display: block;
    content: "";
    margin: auto;
    width: 0;
    height: 2px;
    background-color: #FAC52C;
    transition: width 0.3s;
}
.nav-item:hover::after {
    width: 100%;
}

/* - Título - */

.titulo {
    margin: 20px 0;
    width: 100%;
    padding-top: 80px;
    border-top: 4px solid #F0970A;
}
.titulo h1 {
    text-align: center;
    font-size: 4em;
    font-weight: 900;
    font-family: Verdana, sans-serif;
    color: black;
    margin: 10px 0;
    transition: all .5s ease-out;
}
.titulo h6 {
    padding-left: 25px;
    font-size: 1.2em;
    font-weight: 400;
    color: rgb(82, 82, 82);
    transition: all .5s ease-out;
}

/* - Contenido - */

.main {
    width: 90%;
    padding: 10px 0;
    margin-top: 10vh;
    margin-bottom: 100px;
    transition: all .4s ease;
}
.aside {
    border: 2px solid black;
    border-radius: 12px;
    background-color: #F0970A;
    width: 200px;
    height: fit-content;
    margin: auto;
    margin-bottom: 20px;
    box-shadow: -2px -2px 15px #00000050,
                2px 2px 15px #00000050;
}
.descripcion {
    padding: 7px;
    font-size: 17px;
    font-weight: bold;
}
.descripcion a {
    color: black;
}
.acordeones {
    border: 2px solid black;
    border-radius: 12px;
    background-color: #F0970A;
    width: 300px;
    margin: auto;
    padding: 20px;
    box-shadow: -2px -2px 15px #00000050,
                2px 2px 15px #00000050;
}
.acordeones h2 {
    padding: 10px;
    font-size: 2em;
    font-weight: bold;
    color: black;
    border: 2px solid black;
    border-radius: 12px;
    text-align: start;
    transition: all .8s ease;
}
.unidad {
    display: none;
    background-color: #FAC52C;
    border: 2px solid black;
    border-radius: 7px;
    margin: 5px;
    padding: 7px 5px 0 5px;
    cursor: pointer;
}
.temas {
    display: none;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-top: 1px solid black;
    transition: all .8s ease;
}
.tema {
    margin: 5px;
    padding: 7px 7px 0 7px;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
}

/* - Media Queries - */
@media screen and (max-width: 768px) {
    .navbar-brand img {
        display: none;
    }
    .fa-square-caret-down {
        font-size: 2rem;
    }
}
@media screen and (max-width: 450px) {
    .titulo h1 {
        font-size: 2em;
        transition: all .5s ease;
    }
    .titulo h6 {
        padding: 0;
        text-align: center;
        font-size: 12px;
        transition: all .5s ease;
    }
}