/*teo-pra-ane*/

.descarga {
    text-decoration: none;
    text-align: center;
    margin: 2rem 0;
    padding: 7px 12px;
    font-size: 1.5em;
    font-weight: 800;
    border-radius: 12px;
    box-shadow: -2px -2px 15px #00000050,
                2px 2px 15px #00000050;
}

/* teoria - */


.titulo {
    max-width: 90vw;
}
.temas {
    border: none;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.tema {
    border: 1px solid black;
    color: black;
}
.acordeones {
    max-width: 90vw;
}

/*practica*/

.contrato,
.trabajo-anual {
    font-weight: bold;
    color: black;
}
.tutorial h4,
.contrato h4,
.trabajo-anual h4 {
    font-weight: 900;
    font-size: 2.5em;
}
.contrato i,
.trabajo-anual i {
    font-size: 2.5em;
    color: black;
}
.contrato i:hover {
    color: rgb(100,100,100);
}
.trabajo-anual i:hover {
    color: rgb(90, 40, 7);
}

/* anexos */

.tutorial {
    height: 400px;
}
.tutorial iframe {
    border-radius: 7px;
    width: 75%;
    height: 85%;
}

@media screen and (max-width: 768px) {
    .tutorial iframe {
        width: 85%;
    }
}
@media screen and (max-width: 400px) {
    .tutorial h4,
    .contrato h4,
    .trabajo-anual h4 {
        font-size: 2em;
    }
    .tutorial {
        height: 225px;
    }
    .tutorial iframe {
        width: 80%;
        height: 70%;
    }
}