/* - modificaciones para la pagina de teoria - */


.titulo {
    max-width: 90vw;
}
.temas {
    border: none;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.tema {
    border: 1px solid black;
    color: black;
}
.acordeones {
    max-width: 90vw;
}